.container{
  text-align: center;
  margin:10px auto;
  width:360px;
  padding:15px;

}

.box{
  background-color:#efefef;
}

p{
  margin-top:10px;
}

#btn {
  width: 200px;
  height: 40px;
  line-height: 40px;
  margin: 10px auto;
  background: red;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  border-radius: 15px;
  user-select: none;
  cursor: pointer;
}

#result {
  font-size: 50px;
  font-weight: bold;
}
